*{
    clear: both;
  }
  .profilePic {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: #FFD7AB;
    float: left;
    position: absolute;
    top: 80px;
    left: 72px;
    right: 638px;
  }
  .container {
    width: auto;
    position: relative;
  }
  .textContent {
    position: absolute;
  }
  .comment {
    width: 458px;
    height: 192px;
    position: absolute;
    left: 590px;
    top: 80px;
  }
  .userName {
    width: 300px;
      height: 28px;
    font-size: 24px;
    font-family: 'Rubik', Medium;
    letter-spacing: 0.0px;
    color: #373742;
    position: absolute;
    top: 324px;
      right: 220px;
      left: 590px;
  }
  .userTitle {
    width: 300px;
      height: 24px;
    font-size: 20px;
    font-family: 'Rubik';
    letter-spacing: 0.0px;
    color: #838383;
    position: absolute;
    top: 350px;
    right: 220px;
    left: 590px;
  }