* {
    font-family: sans-serif;
  }
  .oneBedroomCard {
    width: 272px;
    height: 309px;
    border-radius: 4px;
    border: 1px solid #9797973B;
  }
  .cardContent {
    max-width: 100%;
    position: relative;
  }
  .image {
    max-width: 100%;
    margin: 0;
  }
  .price {
    position: absolute;
    margin: 176px 201px 14px 19px;
    top: -24px;
    left: 0px;
    width: 52px;
    height: 33px;
    font: 28px Medium;
    letter-spacing: 0.0px;
    color: #FFFFFF;
  }
  .descripton {
    position: absolute;
    margin: 239px 93px 47px 19px;
    top: -14px;
    left: 0px;
    width: 160px;
    height: 23px;
    font: 17px;
    letter-spacing: 0.0px;
    color: #1E2D52;
  }
  .date {
    position: absolute;
    margin: 265px 203px 21px 19px;
    top: -14px;
    left: 0px;
    width: 50px;
    height: 23px;
    font: 17px;
    letter-spacing: 0.0px;
    color: #222222;
  }
  