* {
    font-family: Sans-serif;
  }
  h1 {
    font-weight: bold;
    margin: 8px 0;
  }
  body>div {
    background-color: #b2dfdb;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  input, select {
    border-radius: 4px;
  }
  #divider {
    border: 1px solid rgba(34, 36, 38, 0.7);
    margin: 0 0 15px 0;
  }
  div>#fName{
    display: inline-block;
    width: 50%;
    clear:both;
  }